/* General Styling */

* {
  box-sizing: border-box;
}

imput, button {
  border: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
}

.padding {
  padding: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.image-wrapper {
  box-sizing: border-box;
}

.content-signup {
  order: 1;
}

.main-title {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 5px;
  color: hsl(0, 6%, 24%);
}

.main-title span {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

.lead-text {
  line-height: 1.8;
  color: hsl(0, 36%, 70%);
}

form {
  display: flex;
  position: relative;
}

#email {
  width: 100%;
  border: 1px solid hsl(0, 36%, 70%);
  padding: 15px 0 15px 25px;
  border-radius: 25px;
}

#email::placeholder {
  color: hsl(0, 36%, 70%);
}

.btn-submit {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  padding: 11px 25px;
  border-radius: 25px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.error-icon {
  display: none;
}

.error-icon.visible {
  display: inline;
}

.error-message {
  color: red;
}

.error-message.active {
  padding: 0.3em;
  display: block;
}

.attribution {
  font-size: 11px; text-align: center;
}

.attribution a {
  color: hsl(0, 36%, 70%);
}

/* Media Queries */

@media (min-width: 768px) {

  .container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
  }

  .padding {
    padding: 40px 10%;
  }

  .main-title {
    font-size: 80px;
  }

  .lead-text {
    padding-right: 20px;
  }
  .content-signup {
    background-image: url('../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    order: 0;
  }

  header, .content-signup {
    width: 60%;
  }

  .image-wrapper {
    /*display: flex;
    align-items: flex-end;
    oder: -1;
    height: 100vh;*/
    display: flex;
    flex-direction: column-reverse;
    width: 20%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
  }
}



/* Media Queries */

/*@media (min-width: 768px) {

  .container {
    background-image: url('../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
  }

  header {
    flex-grow: 2;
    flex-basis: 30%;
  }

  .content-signup {
    order: 0;
    flex-grow: 2;
    flex-basis: 30%;
  }

  .image-wrapper {
    flex-grow: 1;
    flex-basis: 10%;
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }
}*/
